@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Roman"), local("Helvetica-Neue-Roman"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Ultra Light"), local("Helvetica-Neue-Ultra-Light"), url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Light"), local("Helvetica-Neue-Light"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

img, picture {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea, select {
  font: inherit;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

a {
  text-decoration: none;
}

html, body {
  height: 2160px;
  width: 3840px;
}

body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  background-color: #ffffff;
  color: #FFFFFF;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.page__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-next {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.page-next__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main {
  width: 100%;
  height: 100%;
  background: url("../../img/main/bg.png") center/cover no-repeat;
  position: relative;
}
.main__touch {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 104px;
}
.main__touch svg {
  margin-right: 92px;
}
.main__box {
  max-width: 3000px;
  width: 100%;
  margin: 0 auto;
  height: calc(100% - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 263px;
}
.main__box__photo {
  min-width: 832px;
}
.main__box__photo img {
  width: 100%;
  height: auto;
}
.main__box__text {
  text-align: left;
}
.main__box__text h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 140px;
  font-weight: 500;
  line-height: 144px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 110px;
}
.main__box__text p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 90px;
}
.main__box__text p:last-child {
  margin-bottom: 0;
}

.article-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #D3CFCC;
  position: relative;
}
.article-list__top {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px 1240px;
  grid-template-columns: auto 1240px;
  height: 1140px;
  grid-column-gap: 40px;
}
.article-list__top__article-1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.article-list__top__article-1 .article-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.article-list__top__article-1 .article-number {
  position: absolute;
  top: 100px;
  right: 174px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 260px;
  font-weight: 100;
  line-height: 260px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.article-list__top__article-1 .article-title {
  position: absolute;
  top: 100px;
  left: 174px;
  right: 680px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 140px;
  font-weight: 500;
  line-height: 144px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.article-list .article-4 {
  background-color: #3F4040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.article-list .article-4 .article-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 104px;
  right: 440px;
}
.article-list .article-4 .article-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
  -o-object-position: bottom;
     object-position: bottom;
}
.article-list .article-3 {
  position: relative;
  background-color: #6A7A7E;
  height: 1022px;
}
.article-list .article-3 .article-title {
  left: 210px;
  right: 616px;
}
.article-list .article-3 .article-line-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #66B1BD;
  width: 80px;
  height: 720px;
}
.article-list .article-2 {
  height: 1152px;
  z-index: 2;
  margin-top: -130px;
  overflow: visible;
}
.article-list .article-2 .article-line-2 {
  position: absolute;
  width: 120px;
  height: 130px;
  top: 0;
  right: -120px;
  background-color: #B3D4D3;
  z-index: 3;
}
.article-list .article-2 .article-line-2-1 {
  position: absolute;
  width: 600px;
  height: 80px;
  top: -80px;
  left: 0;
  background-color: #66B1BD;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 174px auto;
  grid-template-columns: 174px auto;
}
.article-list .article-2 .article-line-2-1 span:first-child {
  background-color: #6A7A7E;
}
.article-list .article-2 .article-number {
  bottom: 152px;
  left: 120px;
  top: auto;
  right: auto;
}
.article-list__bottom {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1460px 40px auto;
  grid-template-columns: 1460px auto;
  min-height: 1022px;
  grid-column-gap: 40px;
}

.panel {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 546px;
  height: 180px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.panel-prev, .panel-next {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.panel-prev:active, .panel-next:active {
  background-color: #3F4040;
}

.article-page-2 {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.article-page-2 .article-list__top {
  -ms-grid-columns: auto 1649px;
  grid-template-columns: auto 1649px;
}
.article-page-2 .article-list__top .article-list__top__article-1 {
  background-color: #6A7A7E;
}
.article-page-2 .article-list__top .article-7 .article-number {
  bottom: 49px;
  left: 174px;
  top: auto;
  right: auto;
}
.article-page-2 .article-list__top .article-7 .article-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 104px;
  left: 174px;
  right: 370px;
}
.article-page-2 .article-list__bottom {
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}
.article-page-2 .article-list__bottom .article-list__top__article-1 {
  overflow: visible;
  position: relative;
}
.article-page-2 .article-list__bottom .article-list__top__article-1 .article-number {
  bottom: 84px;
  left: 174px;
  top: auto;
  right: auto;
}
.article-page-2 .article-list__bottom .article-list__top__article-1 .article-line-2-1 {
  position: absolute;
  height: 40px;
  top: -40px;
  width: 802px;
  left: 0;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 402px 220px auto;
  grid-template-columns: 402px 220px auto;
}
.article-page-2 .article-list__bottom .article-list__top__article-1 .article-line-2-1 span:first-child {
  background-color: #66B1BD;
}
.article-page-2 .article-list__bottom .article-list__top__article-1 .article-line-2-1 span:last-child {
  background-color: #D3CFCC;
}

.left-panel {
  height: 100%;
  width: 620px;
  background-color: #3F4040;
}

.preview1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/preview1/icon/border.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.preview1__left {
  height: 100%;
  width: 1154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
}
.preview1__left__column {
  height: 100%;
  width: 832px;
  background-color: #6A7A7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preview1__left__column__top {
  width: 100%;
  height: 1100px;
  position: relative;
}
.preview1__left__column__top span {
  position: absolute;
  top: 70px;
  right: 70px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 260px;
  font-weight: 100;
  line-height: 304px;
  color: #ffffff;
  letter-spacing: -0.02em;
}
.preview1__left__column__top__img {
  position: absolute;
  bottom: 0;
  left: 53%;
  -webkit-transform: translate(-53%, 0);
          transform: translate(-53%, 0);
  display: block;
  height: auto;
  width: 1014px;
}
.preview1__left__column__top__img img {
  display: block;
  height: auto;
  width: 100%;
}
.preview1__left__column__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 94px 85px 186px 85px;
}
.preview1__left__column__bottom h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 104px;
  color: #ffffff;
  margin-bottom: 68px;
  letter-spacing: 0.04em;
}
.preview1__left__column__bottom h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 108%;
  color: #ffffff;
  letter-spacing: 0.04em;
}
.preview1__right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.preview1__right__lines {
  position: absolute;
  left: 366px;
  top: 871px;
  width: 185px;
  height: 109px;
}
.preview1__right__lines span {
  width: 32px;
  height: 32px;
  background-color: #3F4040;
  display: block;
  position: relative;
  z-index: 0;
}
.preview1__right__lines span:first-child {
  top: 0;
  left: 50px;
}
.preview1__right__lines span:first-child::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 413px;
  background-color: #3F4040;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -413px;
}
.preview1__right__lines span:nth-child(2) {
  top: 45px;
  left: 0;
}
.preview1__right__lines span:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 413px;
  background-color: #3F4040;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -413px;
}
.preview1__right__lines span:nth-child(3) {
  top: -32px;
  right: -153px;
}
.preview1__right__lines span:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 1530px;
  height: 6px;
  background-color: #3F4040;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.preview1__right__box {
  margin-top: 137px;
  margin-left: 350px;
  height: auto;
  min-width: 1871px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.preview1__right__box__left {
  height: 100%;
  min-width: 1279px;
  width: 1279px;
  margin-right: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preview1__right__box__left__item1 {
  width: 100%;
  min-height: 693px;
  background-color: #6A7A7E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 525px auto;
  grid-template-columns: 525px auto;
  z-index: 1;
}
.preview1__right__box__left__item1:first-child {
  margin-bottom: 228px;
}
.preview1__right__box__left__item1__photo {
  height: auto;
  width: 525px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.preview1__right__box__left__item1__photo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
  max-width: none;
}
.preview1__right__box__left__item1__text {
  padding: 61px 86px 51px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.preview1__right__box__left__item1__text h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 30px;
}
.preview1__right__box__left__item1__text p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 60px;
}
.preview1__right__box__left__item1__text__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.preview1__right__box__left__item1__text__icons div {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.preview1__right__box__left__item1__text__icons div svg {
  margin-right: 26px;
}
.preview1__right__box__left__item1__text__icons div span {
  color: #ffffff;
  margin-right: 22px;
}
.preview1__right__box__left__item1__text__icons div .item1-number {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.04em;
}
.preview1__right__box__left__item1__text__icons div .item1-title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.02em;
  margin-right: 0;
}
.preview1__right__box__right {
  height: auto;
  width: 516px;
  z-index: 1;
}

.item2 {
  min-height: 733px;
}
.item2 .preview1__right__box__left__item1__text {
  padding-right: 37px;
}
.item2 .preview1__right__box__left__item1__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.item2 .preview1__right__box__left__item1__text__icons div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.item2 .preview1__right__box__left__item1__text__icons div svg {
  margin: 0 auto;
  margin-bottom: 16px;
}
.item2 .preview1__right__box__left__item1__text__icons div .item1-number {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 19px;
  margin-right: 0;
  letter-spacing: 0.04em;
}

.item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  min-height: 100%;
}
.item3:first-child {
  margin-bottom: 0;
}
.item3 .preview1__right__box__left__item1__text {
  padding: 51px 64px 51px 46px;
  background-color: #6A7A7E;
  min-height: 100%;
}
.item3 .preview1__right__box__left__item1__photo {
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-top: auto;
}
.item3 .preview1__right__box__left__item1__text__icons {
  display: block;
  width: 100%;
}
.item3 .preview1__right__box__left__item1__text__icons div {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.item3 .preview1__right__box__left__item1__text__icons div .item1-number {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 54px;
  margin-right: 0;
  width: 100%;
}
.item3 .preview1__right__box__left__item1__text__icons div .item1-number:first-child {
  margin-bottom: 39px;
}
.item3 .preview1__right__box__left__item1__text__icons div .item1-title {
  margin-top: 19px;
}

.nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 9px;
}
.nav__button {
  color: #ffffff;
  background-color: #000000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 108px;
  letter-spacing: 0.04em;
  height: 180px;
  padding: 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__button:active {
  background-color: #3F4040;
}

.menu {
  gap: 103px;
}
.menu:active {
  background-color: #000000;
}

.language-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.language-panel {
  height: 0;
  width: 180px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 9;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 160px 120px 160px;
  grid-template-rows: 160px 120px 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-panel-active {
  height: 450px;
  top: -445px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-btn {
  width: 75px;
  height: 83px;
}

.visually-impaired .preview1__left__column {
  background-color: #3F4040;
}
.visually-impaired .preview1__left__column .preview1__left__column__bottom h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
.visually-impaired .preview1__right__box {
  min-width: 2275px;
  margin: auto 38px 288px 224px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.visually-impaired .preview1__right__box__left {
  width: 1721px;
  margin-top: 100px;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1 {
  background-color: #D3CFCC;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  color: #000000;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 50px;
  color: #000000;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text__icons div svg path {
  stroke: #000000;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text__icons div svg g {
  fill: #000000;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text__icons div svg rect {
  stroke: #000000;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text__icons div span {
  color: #000000;
}
.visually-impaired .preview1__right__box__left .preview1__right__box__left__item1__text__icons div .item1-title {
  font-size: 46px;
}
.visually-impaired .preview1__right__box__right {
  height: 100%;
}
.visually-impaired .item3 .preview1__right__box__left__item1__text {
  background-color: #D3CFCC;
}
.visually-impaired .item3 .preview1__right__box__left__item1__text h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  color: #000000;
}
.visually-impaired .item3 .preview1__right__box__left__item1__text p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 50px;
  color: #000000;
  margin-bottom: 0;
}
.visually-impaired .item3 .preview1__right__box__left__item1__text__icons {
  display: none;
}