html, body {
  height: 2160px;
  width: 3840px;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #ffffff;
  color: #FFFFFF;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}