@import "fonts";
@import "reset";
@import "global";
@import "mixins";
@import "vars";

//________________________________________________________________________________________________________preview1

.preview1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/preview1/icon/border.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
  display: flex;
  flex-direction: row;

  &__left {
    height: 100%;
    width: 1154px;
    display: flex;
    justify-content: right;
    position: relative;

    &__column {
      height: 100%;
      width: 832px;
      background-color: $bg-gray;
      display: flex;
      flex-direction: column;

      &__top {
        width: 100%;
        height: 1100px;
        position: relative;

        & span {
          position: absolute;
          top: 70px;
          right: 70px;
          @include text(260px, 100, 304px);
          color: $text-color;
          letter-spacing: -0.02em;
        }

        &__img {
          position: absolute;
          bottom: 0;
          left: 53%;
          transform: translate(-53%, 0);
          display: block;
          height: auto;
          width: 1014px;

          & img {
            display: block;
            height: auto;
            width: 100%;
          }
        }
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        padding: 94px 85px 186px 85px;

        & h1 {
          @include text(100px, 500, 104px);
          color: $text-color;
          margin-bottom: 68px;
          letter-spacing: 0.04em;
        }

        & h3 {
          @include text(50px, 700, 108%);
          color: $text-color;
          letter-spacing: 0.04em;
        }
      }
    }
  }

  &__right {
    position: relative;
    flex: 1;

    &__lines {
      position: absolute;
      left: 366px;
      top: 871px;
      width: 185px;
      height: 109px;

      & span {
        width: 32px;
        height: 32px;
        background-color: $bg-dark-gray;
        display: block;
        position: relative;
        z-index: 0;

        &:first-child {
          top: 0;
          left: 50px;

          &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 413px;
            background-color: $bg-dark-gray;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -413px
          }
        }

        &:nth-child(2) {
          top: 45px;
          left: 0;

          &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 413px;
            background-color: $bg-dark-gray;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -413px;
          }
        }

        &:nth-child(3) {
          top: -32px;
          right: -153px;

          &::before {
            content: '';
            position: absolute;
            width: 1530px;
            height: 6px;
            background-color: $bg-dark-gray;
            top: 0;
            bottom: 0;
            margin: auto 0;
          }
        }
      }
    }

    &__box {
      margin-top: 137px;
      margin-left: 350px;
      height: auto;
      min-width: 1871px;
      display: flex;
      flex-direction: row;

      &__left {
        height: 100%;
        min-width: 1279px;
        width: 1279px;
        margin-right: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__item1 {
          width: 100%;
          min-height: 693px;
          background-color: $bg-gray;
          display: grid;
          grid-template-columns: 525px auto;
          z-index: 1;

          &:first-child {
            margin-bottom: 228px;
          }

          &__photo {
            height: auto;
            width: 525px;
            overflow: hidden;
            display: flex;
            align-items: end;

            & img {
              object-fit: contain;
              width: 100%;
              height: auto;
              max-width: none;
            }
          }

          &__text {
            padding: 61px 86px 51px 46px;
            display: flex;
            flex-direction: column;
            letter-spacing: 0.04em;
            color: $text-color;

            & h4 {
              @include text(50px, 700, 54px);
              margin-bottom: 30px;
            }

            & p {
              @include text(34px, 400, 38px);
              margin-bottom: 60px;
            }

            &__icons {
              width: 100%;
              display: flex;
              justify-content: space-between;
              gap: 30px;

              & div {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                & svg {
                  margin-right: 26px;
                }

                & span {
                  color: $text-color;
                  margin-right: 22px;
                }

                & .item1-number {
                  @include text(100px, 700, 80px);
                  letter-spacing: 0.04em;
                }

                & .item1-title {
                  @include text(34px, 400, 38px);
                  letter-spacing: 0.02em;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      &__right {
        height: auto;
        width: 516px;
        z-index: 1;
      }
    }
  }
}

.item2 {
  min-height: 733px;

  & .preview1__right__box__left__item1__text {
    padding-right: 37px;
  }

  & .preview1__right__box__left__item1__photo {
    & img {
      object-fit: cover;
      height: 100%;
    }
  }

  & .preview1__right__box__left__item1__text__icons {
    & div {
      flex-direction: column;
      justify-content: flex-end;
      align-items: start;

      & svg {
        margin: 0 auto;
        margin-bottom: 16px;
      }

      & .item1-number {
        @include text(46px, 700, 54px);
        margin-bottom: 19px;
        margin-right: 0;
        letter-spacing: 0.04em;
      }
    }
  }
}

.item3 {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-height: 100%;

  &:first-child {
    margin-bottom: 0;
  }

  & .preview1__right__box__left__item1__text {
    padding: 51px 64px 51px 46px;
    background-color: $bg-gray;
    min-height: 100%;
  }

  & .preview1__right__box__left__item1__photo {
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: auto;
  }

  & .preview1__right__box__left__item1__text__icons {
    display: block;
    width: 100%;

    & div {
      width: 100%;
      flex-direction: column;
      text-align: left;

      & .item1-number {
        @include text(46px, 500, 54px);
        margin-right: 0;
        width: 100%;

        &:first-child {
          margin-bottom: 39px;
        }
      }

      & .item1-title {
        margin-top: 19px;
      }
    }
  }


}

.nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 9px;

  &__button {
    color: $text-color;
    background-color: $button-color;
    @include text(64px, 500, 108px);
    letter-spacing: 0.04em;
    height: 186px;
    padding: 0 85px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:active {
      background-color: $bg-dark-gray;
    }
  }
}

.menu {
  gap: 103px;

  &:active {
    background-color: $button-color;
  }
}

.home-btn {
  width: 75px;
  height: 83px;
}

.visually-impaired {
  & .preview1__left__column {
    background-color: $bg-dark-gray;

    & .preview1__left__column__bottom h3 {
      @include text(64px, 700, 68px)
    }
  }

  & .preview1__right__box {
    min-width: 2275px;
    margin: auto 38px 288px 224px;
    align-items: end;

    &__left {
      width: 1721px;
      margin-top: 100px;

      & .preview1__right__box__left__item1 {
        background-color: $bg-light-gray;

        &__text {
          & h4 {
            @include text(64px, 700, 68px);
            color: $text-color-black;
          }

          & p {
            @include text(46px, 400, 50px);
            color: $text-color-black;
          }

          &__icons div {
            & svg {
              & path {
                stroke: $text-color-black;
              }

              & g {
                fill: $text-color-black;
              }

              & rect {
                stroke: $text-color-black;
              }
            }

            & span {
              color: $text-color-black;
            }

            & .item1-title {
              font-size: 46px;
            }
          }
        }
      }
    }

    &__right {
      height: 100%;
    }
  }

  & .item3 .preview1__right__box__left__item1__text {
    background-color: $bg-light-gray;

    & h4 {
      @include text(64px, 700, 68px);
      color: $text-color-black;
    }

    & p {
      @include text(46px, 400, 50px);
      color: $text-color-black;
      margin-bottom: 0;
    }

    &__icons {
      display: none;
    }
  }
}